
<hr>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
                <tr>
                  <th><span>Branch Name</span></th>
                  <th><span>Vaccine Name</span></th>
                  <th class="text-center"><span>Status</span></th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let branchvaccine of branchvaccines" >
                  <td> 
                    {{branchvaccine.branches.name}}
                  </td>
                  <td> {{branchvaccine.vaccine.name}}</td>
                  <td class="text-center">
                    <span class="label label-default">pending</span>
                  </td>

                  <td style="width: 20%;"> 
                    <a href="#" class="table-link text-info">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                      </span> 
                    </a>
                  </td>
                </tr>
        
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
