<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <div *ngIf="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Vacination done successfully!!</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closesuccessAlert()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <table class="table user-list">
              <thead>
                <tr>
                  <th class="text-center">Patient Name</th>
                  <th class="text-center">Branch Name</th>
                  <th class="text-center">Vacine Name</th>
                  <th class="text-center">Address</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Reservation Time</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let patientResevation of patientResevationList">
                  <td class="text-center"> {{patientResevation.patient?.name}}</td>
                  <td class="text-center"> {{patientResevation.branchVaccines?.branches?.name}}</td>
                  <td class="text-center"> {{patientResevation.branchVaccines?.vaccine?.name}}</td>
                  <td class="text-center"> {{patientResevation.patient?.address}}</td>
                  <td class="text-center"> {{patientResevation.patient?.email}}</td>
                  <td class="text-center"> {{patientResevation.reservationDate}} {{patientResevation.reservationHour}}:{{patientResevation.reservationMinute}} </td>

                  <td style="width: 20%;">
                  
                    <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                      <input class="btn btn-primary" (click)="approve(patientResevation)" value="Vaccinated">
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
