<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div id="content" class="content content-full-width">
        <div class="profile">
          <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">{{branch?.name}}</h4>
                <p class="m-b-10">Tel: {{branch?.phone}}, Address: {{branch?.address}}, Email: {{branch?.email}}</p>
                <div> Working days: <b *ngFor="let branchDay of branch?.branchDays"> {{branchDay.weekDay.name}}, </b></div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
  <hr>
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <div class="table-responsive">
              <table class="table user-list">
                <thead>
                  <tr>
                    <th class="text-center">Vaccine Name</th>
                    <th class="text-center">no. of  dosaage</th>
                    <th class="text-center">expiration period</th>
                    <th class="text-center">side effects</th>
                    <th class="text-center">storage condition</th>
                    <th class="text-center">Status</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let branchvaccine of branchvaccines">
                    <td class="text-center"> {{branchvaccine.vaccine.name}}</td>
                    <td class="text-center"> {{branchvaccine.vaccine.numberOfDosage}}</td>
                    <td class="text-center"> {{branchvaccine.vaccine.expirationPeriod}}</td>
                    <td class="text-center"> {{branchvaccine.vaccine.sideEffects}}</td>
                    <td class="text-center"> {{branchvaccine.vaccine.storageCondition}}</td>
                    <td class="text-center">
                      <span class="label label-default">pending</span>
                    </td>

                    <td style="width: 20%;">
                      <a class="table-link text-info" (click)="navigateToReservation(branchvaccine.id)">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
