<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div id="content" class="content content-full-width">
        <div class="profile">
          <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">Vaccine: {{branchVaccine?.vaccine?.name}}</h4>
                <p class="m-b-10"> No. of  dosaage: {{branchVaccine?.vaccine?.numberOfDosage}}</p>
                <p class="m-b-10"> Expiration period: {{branchVaccine?.vaccine?.expirationPeriod}}</p>
                <p class="m-b-10"> side effects: {{branchVaccine?.vaccine?.sideEffects}}</p>
                <p class="m-b-10"> storage condition: {{branchVaccine?.vaccine?.storageCondition}}</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div id="content" class="content content-full-width">
        <div class="profile">
          <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">Branch: {{branchVaccine?.branches?.name}}</h4>
                <p class="m-b-10">Tel: {{branchVaccine?.branches?.phone}}, Address: {{branchVaccine?.branches?.address}}, Email: {{branchVaccine?.branches?.email}}</p>
                <div> Working days: <b *ngFor="let branchDay of branchVaccine?.branches?.branchDays"> {{branchDay.weekDay.name}}, </b></div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div> 
  <div class="view-account">
    <section class="module">
      <div class="module-inner">

        <div class="content-panel">
          <div *ngIf="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Reservation done successfully!!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closesuccessAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="form-horizontal" #addForm="ngForm" (ngSubmit)="reserveVaccine(addForm)">
            <fieldset class="fieldset">
              <h3 class="fieldset-title">Personal Info</h3>

            </fieldset><fieldset class="fieldset">
              <div class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Name: </label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input ngModel type="text" required class="form-control" value="" name="name">
                </div>
              </div>
            </fieldset>
            <fieldset class="fieldset">
              <h3 class="fieldset-title">Contact Info</h3>
              <div class="form-group">
                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email: </label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input ngModel type="email" required class="form-control" value="" name="email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Phone: </label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input ngModel type="tel" required class="form-control" value="" name="phone">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Address:</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input ngModel type="text" required class="form-control" value="" name="address">
                </div>
              </div>
            </fieldset>

           
            <hr>
            <div class="form-group">
              <h3 class="fieldset-title">Reservation Information</h3>
              <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                <mat-form-field >
                  <input required matInput [matDatepicker]="picker" [formControl]="reservationDate" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              
              <div class="row">
                <label class="col-md-2 col-sm-5 col-xs-12 control-label">ReservationTime: </label>
                <select required [formControl]="reservationHour" class="form-control" style="max-height:80px;max-width:70px;overflow-y:auto">
                  <option *ngFor="let validBranchHour of validBranchHours" value="{{validBranchHour}}">{{validBranchHour}}</option>
                </select>:
                <select required [formControl]="reservationMinute" class="form-control" style="max-height:80px;max-width:70px;overflow-y:auto">
                  <option *ngFor="let validReservationMinute of validReservationMinutes" value="{{validReservationMinute}}">{{validReservationMinute}}</option>
                </select>
              </div>

              <div class="form-group  content-full-width row">
                <label class="col-sm-5 col-xs-12 control-label">Payment Method: </label>
                <select [formControl]="paymentMethodController" class="form-control" style="max-height:80px;overflow-y:auto">
                  <option *ngFor="let paymentType of paymentTypes" value="{{paymentType.id}}">{{paymentType.name}}</option>
                </select>

              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                <input [disabled]="addForm.invalid" class="btn btn-primary" type="submit" value="Reserve">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
