<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div id="content" class="content content-full-width">
        <div class="profile">
          <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">{{vaccine?.name}}</h4>
                <p class="m-b-10"> No. of  dosaage: {{vaccine?.numberOfDosage}}</p>
                <p class="m-b-10"> Expiration period: {{vaccine?.expirationPeriod}}</p>
                <p class="m-b-10"> side effects: {{vaccine?.sideEffects}}</p>
                <p class="m-b-10"> storage condition: {{vaccine?.storageCondition}}</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<hr>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
                <tr>
                  <th class="text-center">Branch Name</th>
                  <th class="text-center">Phone</th>
                  <th class="text-center">Address</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Working days</th>
                  <th class="text-center">Status</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let branchvaccine of branchvaccines">
                  <td class="text-center"> {{branchvaccine.branches.name}}</td>
                  <td class="text-center"> {{branchvaccine.branches.phone}}</td>
                  <td class="text-center"> {{branchvaccine.branches.address}}</td>
                  <td class="text-center"> {{branchvaccine.branches.email}}</td>
                  <td class="text-center">  <b *ngFor="let branchDay of branchvaccine.branches?.branchDays"> {{branchDay.weekDay.name}}, </b></td>
                  <td class="text-center">
                    <span class="label label-default">pending</span>
                  </td>

                  <td style="width: 20%;">
                    <a class="table-link text-info" (click)="navigateToReservation(branchvaccine.id)">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
