<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container bootstrap snippets bootdey">
        <div class="navbar-header">
          <nav>
            <a class="navbar-brand" href="/vaccineperbranchreport">Applied vaccination per branch</a>
            <a class="navbar-brand" href="/vaccinebydatesreport">vaccination per day/period</a>
          </nav>
        </div>

      </div>
    </div>
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="form-group  content-full-width">
            <label class="col-md-2 col-sm-5 col-xs-12 control-label">Branch: </label>
            <select [formControl]="branchIdController" class="form-control" style="max-height:80px;overflow-y:auto">
              <option *ngFor="let branche of branches" value="{{branche.id}}">{{branche.name}}</option>
            </select>
            <button class="btn btn-lg  btn-custom " (click)="search()">Search</button>
          </div>
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
                <tr>
                  <th class="text-center">Patienth Name</th>
                  <th class="text-center">Branch Name</th>
                  <th class="text-center">Vacine Name</th>
                  <th class="text-center">Address</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Reservation Time</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let patientResevation of patientResevationList">
                  <td class="text-center"> {{patientResevation.patient?.name}}</td>
                  <td class="text-center"> {{patientResevation.branchVaccines?.branches?.name}}</td>
                  <td class="text-center"> {{patientResevation.branchVaccines?.vaccine?.name}}</td>
                  <td class="text-center"> {{patientResevation.branchVaccines?.branches?.address}}</td>
                  <td class="text-center"> {{patientResevation.branchVaccines?.branches?.email}}</td>
                  <td class="text-center"> {{patientResevation.reservationDate}} {{patientResevation.reservationHour}}:{{patientResevation.reservationMinute}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
