<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container bootstrap snippets bootdey">
        <div class="navbar-header">
          <nav>
            <a class="navbar-brand" href="/vaccineperbranchreport">Applied vaccination per branch</a>
            <a class="navbar-brand" href="/vaccinebydatesreport">vaccination per day/period</a>
          </nav>
        </div>

      </div>
    </div>
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="form-group  content-full-width">
            <label class="col-md-2 col-sm-5 col-xs-12 control-label">Status: </label>
            <select [formControl]="status" class="form-control" style="max-height:80px;overflow-y:auto">
              <option value="1">pending</option>
              <option value="2">approved</option>
            </select>
          </div>
          <label class=" col-md-2 col-sm-5 col-xs-12 control-label">
            <input [(ngModel)]="reportType" type="radio" value="false" name="reportTypre" /> search by Date
          </label>
          <label class=" col-sm-5 col-xs-12 control-label">
            <input [(ngModel)]="reportType" type="radio" value="true" name="reportTypre" /> search by Date Range
          </label>
          <div class="form-group  content-full-width">
            <label class="col-md-2 col-sm-5 col-xs-12 control-label" *ngIf="reportType!='true'">Date: </label>
            <label class="col-md-2 col-sm-5 col-xs-12 control-label" *ngIf="reportType=='true'">From date: </label>
            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [formControl]="reservationDateFrom" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group  content-full-width" *ngIf="reportType=='true'">
            <label class="col-md-2 col-sm-5 col-xs-12 control-label">To date: </label>
            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" [formControl]="reservationDateTo" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <button class="btn btn-lg  btn-custom " (click)="searchbyDate()" *ngIf="reportType!='true'">Search</button>

          <button class="btn btn-lg  btn-custom " (click)="findByReservationDateBetween()" *ngIf="reportType=='true'">Search</button>

          <div class="table-responsive">
            <table class="table user-list">
              <thead>
                <tr>
                  <th class="text-center">Patienth Name</th>
                  <th class="text-center">Branch Name</th>
                  <th class="text-center">Vacine Name</th>
                  <th class="text-center">Address</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Reservation Time</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let patientResevation of patientResevationList">
                  <td class="text-center"> {{patientResevation.patient?.name}}</td>
                  <td class="text-center"> {{patientResevation.branchVaccines?.branches?.name}}</td>
                  <td class="text-center"> {{patientResevation.branchVaccines?.vaccine?.name}}</td>
                  <td class="text-center"> {{patientResevation.patient?.address}}</td>
                  <td class="text-center"> {{patientResevation.patient?.email}}</td>
                  <td class="text-center"> {{patientResevation.reservationDate}} {{patientResevation.reservationHour}}:{{patientResevation.reservationMinute}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
