<div class="navbar navbar-default navbar-static-top">
  <div class="container bootstrap snippets bootdey">
    <div class="navbar-header">
      <nav>
        <a class="navbar-brand" href="/vacinationapprove/2">Approved Vaccines</a>
      </nav>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
