<div class="navbar navbar-default navbar-static-top">
  <div class="container bootstrap snippets bootdey">
    <div class="navbar-header">
      <nav>
        <a class="navbar-brand" href="/vaccines">Vaccines</a>
        <a class="navbar-brand" href="/branches">Branches</a>
        <a class="navbar-brand" href="/branchvaccines">Branches Vaccines</a>
        <a class="navbar-brand" href="/vacinationapprove/1">pending Vaccines</a>
        <a class="navbar-brand" href="/vaccineperbranchreport">Reports</a>
      </nav>
    </div>
 
  </div>
</div>

<router-outlet></router-outlet>
